html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4e4e4e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 212, 212); 
  }
#games{
    width:calc((100%/3)*2);
    height:100vh;
    float:left;
    background-color: lightgray
}
#chat{
    width:calc(100%/3);
    height:100vh;
    float:left;
    background-color:grey;
    line-height: 2em;
}
#chattext{
    position:relative;
    margin-top:40px;
    margin-left:10%;
    margin-right:10%;
    color:white;
    height:calc(100vh - 130px);
    overflow-y:auto;
    overflow-wrap: break-word;
}
h1 {
    margin-left:20px;
}
#chatinput {
    margin-left:10%;
    height:50px;
    margin-top:10px;
    background-color:lightgray;
    border:none;
    color:black;
    font-weight: 700;
    font-size: 18px;
    padding:10px;
    box-sizing: border-box;
    width:80%;
}
#scrolldown {
    position:relative;
    z-index:10px;
    width:calc(80% - 5px);
    margin-left:10%;
    height:40px;
    box-sizing: border-box;
    padding-top:2px;
    margin-top:-40px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    font-weight: 700;
    text-align: center;
    cursor:pointer;
    display:none;
}