html, body {
    padding:0;
    margin:0;
    background-color:#c5c5c5;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4e4e4e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 212, 212); 
  }

header{
    width:100%;
    height:calc(9vh + 20px);
    background-color:#108ea7;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
#main{
    width:100%;
    height:calc(100vh - (9vh + 20px));
    transition: height 0.4s ease-out
}
#choice{
    width:100%;
    height:100%;
    position: relative;
}
#friends, #game{
    float:left;
    width:calc(50% - 3vw);
    height:calc(100% - 4vw);
    margin: 2vw 0 0 2vw;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    cursor:pointer;
}
#friends:hover, #game:hover{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);

}
#friends{
    background-image:url(vrienden.jpg);
    background-size:cover;
    background-position: center center;
}
#game{
    background-image:url(game.jpg);
    background-size:cover;
    background-position: center center;
}
#notifications {
    max-width:1200px;
    width:100%;
    height:0;
    margin-left:auto;
    margin-right:auto;
    transition: height 0.4s ease-out
}
.notification {
    margin-top:-1vw;
    margin-left:2vw;
    width:200px;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    opacity:0;
    float:left;
    transition: opacity 0.4s ease-out;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    overflow:hidden;
}
.notification p {
float:left;
font-size:13.1px;
padding:0;
margin:0;
padding:5px 0 0 10px;
line-height:2.5vmin;
color:white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.spelen{
    float:right;
    width:40px;
    height:100%;
    background-color: rgba(255,255,255,0.8);
    cursor:pointer;
}
.spelen p{
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
    margin-top:3vmin;
    color:black;
    font-size:16px;
    text-align: center;
    transform:rotate(-90deg)
}
.title {
    width:100%;
    height:30%;
    background-color:rgba(0,0,0,0.75);
}
.spacer {
    width:100%;
    height:70%;
}
h2{
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
    color:white;
    font-size:6vmin;
    margin-top:4vmin;
}
.left{
    float:left;
    text-align:left;
}
.right{
    float:right;
    text-align:right;
}
#arrowright{
    border-top: 6vmin solid transparent;
    border-bottom: 6vmin solid transparent;
    border-left: 6vmin solid white;
    float:right;
    margin-right:15vmin;
    margin-left:5vmin;
    margin-top:5.8vmin;
}
#arrowleft{
    border-top: 6vmin solid transparent;
    border-bottom: 6vmin solid transparent;
    border-right: 6vmin solid white;
    float:left;
    margin-top:5.8vmin;
    margin-left:15vmin;
    margin-right:5vmin;
}
.clear{
    clear:both;
}
#of {
    position:relative;
    z-index:10;
    width:16vmin;
    height:16vmin;
    border-radius:20vmin;
    background-color:#108ea7;
    margin-left:calc(50% - 8vmin);
    margin-top:calc((20vmin)* -1);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    cursor:pointer;
}
h3{
    position:absolute;
    top:0;
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
    color:white;
    font-size:8vmin;
    margin-top:3.5vmin;
    width:100%;
    text-align: center;
    transform:rotate(-20deg);
    transition: transform 0.4s ease-out
}
#head {
    width:100%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    height:120px;
}
#logo{
    float:left;
    margin-left:2vw;
    background-image: url(logo.png);
    background-size:contain;
    width:200px;
    height:calc(5vh + 20px);
    margin-top:2vh;
    background-repeat: no-repeat;
}
nav{
    float:right;
    height:4vh;
    margin-top:4vh;
    margin-right:2vw;
}
nav a{
font-size:18px;
text-decoration: none;
color:white;
margin-left:50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Games */
#games{
  
}
.games {
    max-width:calc(1200px - 2%);
    width:98%;
    margin-left:auto;
    margin-right:auto;
    padding:1%;
    padding-top:0;
}
.game {
	position:relative;
    float:left;
    margin-left:1%;
    margin-right:1%;
    margin-top:2vw;
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    background-size:cover;
    background-position: center;
}
.titleBlok {
	position:absolute;
	bottom:0;
	z-index:10;
	background-color:rgba(0,0,0,0.6);
	overflow:hidden;
}
.chess{
    background-image:url('game.jpg')
}
h4{
    color:#FFF;
	font-size:18px;
	font-family: 'Lato', sans-serif;
    margin:0;
    padding:20px;
    float:left;
}
.bullet {
    background-color:rgb(214, 28, 28);
    width:20px;
    height:20px;
    border-radius:18px;
    margin: 23px 0 0 0;
    padding:0px;
    float:right;  
}
h5{
    color:rgb(214, 28, 28);
	font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:20px;
    padding-left:10px;
    float:right;
}

/* Private */
#private{
    max-width:calc(1200px - 2%);
    width:98%;
    margin-left:auto;
    margin-right:auto;
    padding:1% 0 0 1%;
    padding-top:0;
}
.private{
    width:72%;
    padding:0;
    float:left;
}
#chat {
    position:fixed;
    top:calc(9vh + 20px);
    right:2vw;
    width: 28%;
    height:calc(100vh - (9vh + 20px + 4vw));
    padding:0;
    margin:2vw 0 0 0;
    background-color:rgba(0,0,0,0.5);
}